.hero-section .carousel-item img{
    height: 350px;
}

.intro-section p{
    font-size: 17px;
}




.photography-section img{
    height: 400px;
}

.form-section .card h5, p {
  
}

.form-section .card h5{
    margin-top: 17px;
}